1 VERSIONINFO
FILEVERSION     0,1,0,0
PRODUCTVERSION  0,1,0,0
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "080904E4"
		BEGIN
			VALUE "FileDescription", "Companion library to libdarnit for headless features"
			VALUE "FileVersion", "0.2"
			VALUE "InternalName", "libcopypasta"
			VALUE "LegalCopyright", "Steven Arnow <s@rdw.se>"
			VALUE "OriginalFilename", "libcopypasta.dll"
			VALUE "ProductName", "libcopypasta"
			VALUE "ProductVersion", "0.1"
		END
	END

	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x809, 1252
	END
END
